.defination__container {
  max-height: 70vh;
  box-shadow: 1px 1px 1px black;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: 0;
  border-radius: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
